Checks: "-*,cert-*,bugprone-*,cppcoreguidelines-*,google-*,hicpp-*,misc-*,\n
    modernize-*,performance-*,readability-*,-cert-err61-cpp,-cert-err09-cpp,-CWE-119,-clang-analyzer-security.insecureAPI.strcpy,-google-default-arguments,-google-readability-namespace-comments,-google-runtime-references,-cert-dcl58-cpp,\n
    -hicpp-special-member-functions,-hicpp-use-override,-hicpp-exception-baseclass,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\n
    -cppcoreguidelines-owning-memory,-readability-named-parameter,-readability-implicit-bool-conversion,-hicpp-no-array-decay,\n
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,-google-build-using-namespace,-google-runtime-int,\n
    -cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-special-member-functions,-cppcoreguidelines-pro-type-const-cast,-clang-diagnostic-unused-lambda-capture,\n
    -misc-throw-by-value-catch-by-reference"
HeaderFilterRegex: "./include/statismo/ITK/*"
CheckOptions:
  - { key: readability-identifier-naming.AbstractClassCase,   value: CamelCase  }
  - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  - { key: readability-identifier-naming.ClassConstantCase,   value: camelBack  }
  - { key: readability-identifier-naming.ClassConstantPrefix, value: sk_  }
  - { key: readability-identifier-naming.ClassMemberCase,     value: camelBack  }
  - { key: readability-identifier-naming.ClassMemberPrefix,   value: m_  }
  - { key: readability-identifier-naming.ClassMethodCase,     value: CamelCase  }
  - { key: readability-identifier-naming.ConstantMemberCase,  value: CamelCase  }
  - { key: readability-identifier-naming.ConstantMemberPrefix,value: mk_  }
  - { key: readability-identifier-naming.ConstantParameterCase,value: camelBack  }
  - { key: readability-identifier-naming.ConstexprMethodCase,  value: CamelCase  }
  - { key: readability-identifier-naming.EnumCase,                 value: CamelCase  }
  - { key: readability-identifier-naming.EnumConstantCase,         value: UPPER_CASE  }
  - { key: readability-identifier-naming.FunctionCase,         value: CamelCase  }
  - { key: readability-identifier-naming.GlobalConstantCase,         value: camelBack  }
  - { key: readability-identifier-naming.GlobalConstantPrefix,         value: gk_  }
  - { key: readability-identifier-naming.GlobalConstantPointerCase,         value: camelBack  }
  - { key: readability-identifier-naming.GlobalConstantPointerPrefix,         value: gk_  }
  - { key: readability-identifier-naming.GlobalFunctionCase,         value: CamelCase  }
  - { key: readability-identifier-naming.GlobalVariableCase,         value: camelBack  }
  - { key: readability-identifier-naming.GlobalVariablePrefix,         value: g_  }
  - { key: readability-identifier-naming.LocalConstantCase,         value: CamelCase  }
  - { key: readability-identifier-naming.LocalConstantPrefix,         value: k  }
  - { key: readability-identifier-naming.LocalConstantPointerCase,         value: CamelCase  }
  - { key: readability-identifier-naming.LocalConstantPointerPrefix,         value: k  }
  - { key: readability-identifier-naming.LocalPointerCase,         value: camelBack  }
  - { key: readability-identifier-naming.LocalVariableCase,         value: camelBack  }
  - { key: readability-identifier-naming.MemberCase,                value: camelBack  }
  - { key: readability-identifier-naming.ParameterCase,       value: camelBack }
  - { key: readability-identifier-naming.ParameterPackCase,       value: camelBack }
  - { key: readability-identifier-naming.PointerParameterCase,       value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberCase,       value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberPrefix,       value: m_ }
  - { key: readability-identifier-naming.PrivateMethodCase,       value: CamelCase }
  - { key: readability-identifier-naming.ProtectedMemberCase,       value: camelBack }
  - { key: readability-identifier-naming.ProtectedMemberPrefix,     value: m_ }
  - { key: readability-identifier-naming.ProtectedMethodCase,       value: CamelCase }
  - { key: readability-identifier-naming.PublicMemberCase,       value: camelBack }
  - { key: readability-identifier-naming.PublicMethodCase,       value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantCase,       value: camelBack }
  - { key: readability-identifier-naming.StaticConstantPrefix,       value: sk_ }
  - { key: readability-identifier-naming.StaticVariableCase,       value: camelBack }
  - { key: readability-identifier-naming.StaticVariablePrefix,       value: s_ }
  - { key: readability-identifier-naming.StructCase,       value: CamelCase }
  - { key: readability-identifier-naming.TemplateParameterCase,       value: CamelCase }
  - { key: readability-identifier-naming.TemplateTemplateParameterCase,       value: CamelCase }
  - { key: readability-identifier-naming.TemplateTemplateParameterPrefix,       value: T }
  - { key: readability-identifier-naming.TypeAliasCase,       value: CamelCase }
  - { key: readability-identifier-naming.TypeTemplateParameterCase,       value: CamelCase }
  - { key: readability-identifier-naming.UnionCase,       value: CamelCase }
  - { key: readability-identifier-naming.ValueTemplateParameterCase,       value: UPPER_CASE }